#campgrounds {
    display: flex;
    flex-wrap: wrap;
}

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.delete-form {
    display: inline;
}

.form-center {
    width: 30%;
    min-width: 351px;
    margin: 25px auto;
}

textarea {
    resize: none;
}
